/*profile*/

.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.profile-header {
    height: 15vh;
    padding: 30px 30px 0px 30px;
    align-self: flex-start;
    display: flex;
    align-items: flex-end;

}

.profile-header h1 {
    padding: 0;
    margin: 0;
    color: black;
    border-bottom: 10px solid #ff6525;
}

.profile-card {
    margin-left: 50px;
    margin-top: 100px;
    padding: 20px;
    height: 480px;
    width: 250px;
    padding: 20px;
    position: relative;
    margin-bottom: 50px;
    border-bottom: 2px solid black;
}

.profile-image img {
    height: 130px;
    width: 130px;
    position: absolute;
    top: -70px;
    left: -50px;
    object-fit: cover;
    max-width: 100%;
    border-radius: 50%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.profile-card h5 {
    text-align: left;
    margin-bottom: 20px;
    margin-left: 75px;
    color: black;
    font-size: 2rem;
}

.profile-info {
    text-align: left;
    line-height: 1.3rem;
    font-size: 1.1rem;

}

.profile-btn {
    width: 12rem;
    background: black;
    color: white;
    transition: all 0.5s ease;
    border: 1px solid black;
    font-weight: 400;
    padding: 7px 26px;

}
.profile-btn:hover {
    border: 1px solid black;
    background: white;
    color: black;
}

.edit-profile-btn {
    width: 12rem;
    background: white;
    color: black;
    transition: all 0.5s ease;
    border: 1px solid black;
    font-weight: 400;
    padding: 7px 26px;
    margin-top: 10px;

}
.edit-profile-btn:hover {
    border: 1px solid black;
    background: black;
    color: white;
}


.links-profile {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 10px;
}


@media only screen and (min-width: 600px) {

    .profile-header {
        padding: 30px 30px 0px 0px;

    }

    .profile-header h1 {
        margin: 20px 0px 0px 50px;
    }

    .profile-card {
        margin-top: 100px;
        height: 350px;
        width: 500px;
    }
 

    .profile-info {
        text-align: left;
        line-height: 1.5rem;
        font-size: 1.1rem;
    
    }
    .links-profile {
        flex-direction: row;
        margin-top:30px;
    }
 
    .edit-profile-btn {
        width: 12rem;
        background: white;
        color: black;
        transition: all 0.5s ease;
        border: 1px solid black;
        font-weight: 400;
        padding: 7px 26px;
        margin-top: 0px;
        margin-left: 35px;
    
    }
}