/*travel-details*/
.travel-details-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}


.card-details-travel {
    padding-bottom: 20px;
    width: 18rem;
    box-shadow: 0 12px 16px rgba(114, 110, 110, 0.2);

}

.info-travel {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.basic-info {
    width: 100%;
}

.btn-members {
    display: flex;
    flex-wrap: wrap;
    border: none;
    width: 100%;
    background-color: white;
    color: white;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

.members img {
    margin: 5px;
    margin-top: 5px;
    height: 65px;
    width: 65px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.details-travel-icons {
    display: flex;
    align-items: space-around;
    justify-content: space-around;
}

.join-travel {
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}


/*Travel invite*/
.invite-input {
    margin: 20px;
}

.invite-input h2 {
    color: black;
    font-size: 1.2rem;
}

.invite-input input {
    border: none;
    border: 1px solid black;
    border-radius: 0px;
}

.invite-input input:focus {
    border: none;
    border: 1.5px solid black;
    border-radius: 0px;

}

.invitation-message {
    color: green;
}

.send-invitation-btn {
    margin-top: 10px;
}


.img-carousel {
    max-height: 400px;
}

.invite-input {
    display: flex;
    flex-direction: column;
}

.travel-details-extra {
    display: flex;
    flex-direction: column;
}

.buttons-details {
    display: flex;
    flex-direction: column;
}

.details-travel-icons {
    display: flex;
    flex-direction: column;
}


.tasks-btn {
    background: transparent;
    width: 16rem;
    color: #ff6525;
    transition: all 0.5s ease;
    border: 1px solid #ff6525;
    margin: 10px 20px;
    font-weight: 400;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.tasks-btn:hover {
    border: 1px solid #ff6525;
    background: #ff6525;
    color: white;
}


.edit-travel-btn {
    background: #ff6525;
    width: 16rem;
    color: white;
    transition: all 0.5s ease;
    border: 1px solid #ff6525;
    margin: 0px 20px;
    font-weight: 400;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;

}

.edit-travel-btn:hover {
    border: 1px solid #ff6525;
    background: white;
    color: #ff6525;
}

.btn-join {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    font-size: 1.5rem;
    background-color: black;
    transition: all .3s ease;
    border: 1px solid black;
    color: white;
}

.btn-join:hover {
    color: black;
    background-color: white;
}

@media only screen and (min-width: 600px) {
    .card-details-travel {
        width: 90%;
    }

    .card-img-top {
        height: 13rem
    }

    .details-travel-icons {
        display: flex;
        flex-direction: row;
    }

    .tasks-btn {
        width: 10rem;
        margin: 20px 20px
    }

    .edit-travel-btn {
        width: 10rem;
        margin: 20px 20px;

    }


}

@media only screen and (min-width: 600px) {
    .card-details-travel {
        width: 60%;
    }

    .details-travel-icons {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: row;
        margin: 20px 40px
    }

    .tasks-btn {
        width: 10rem;
        margin: 20px 20px
    }

    .edit-travel-btn {
        width: 10rem;
        margin: 20px 20px;


    }

    .card-travel-body-details {
        padding: 0 40px
    }

    .btn-members {
        padding: 0 40px;
        align-self: flex-end;

    }

    .profiles-info {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;

    }

    .invite-input {
        padding: 0 40px;

    }

    .input-email {
        width: 50%;
    }
    .join-travel {
        padding: 0px 40px;
    }



}