a {
  color: black;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: black;
}
.home-container {
  background-color: #f3f3f3;
  height: 100vh;
}

.done {
  color: lightgray;
  text-decoration: line-through #ff6525;
  text-decoration-thickness: 4px;
}

.btn {
  background: linear-gradient(90deg, #ff6525 0%, #ff8000 100%);
  color: white;
  border: none;
  border-radius: 8px;
  text-transform: uppercase;
}

.btn:hover {
  background: linear-gradient(90deg, #ff8000 0%, #ff6525 100%);
  transition: all 0.3s;
}
/*profile*/

.profile-container {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 60px;
}

.profile-card {
  padding: 20px;
  height: 350px;
  width: 250px;
  padding: 20px;
  border-radius: 8px;
  position: relative;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.profile-image img {
  height: 150px;
  width: 150px;
  position: absolute;
  top: -80px;
  left: -60px;
  object-fit: cover;
  max-width: 100%;
  border-radius: 50%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.profile-card h5 {
  text-align: left;
  margin-bottom: 20px;
  margin-left: 75px;
  color: #ff6525;
  font-size: 2rem;
}
.profile-info {
  text-align: left;
  line-height: 1rem;
}
.icon {
  color: #ff6525;
  font-size: 1.5rem;
}
.icon:hover {
  color: black;
}

.links-profile {
  display: flex;
  justify-content: flex-start;
  margin-top: 30px;
}
.links-profile a {
  color: #ff6525;
}

.links-profile a:hover {
  color: black;
  text-decoration: none;
}

.links-profile p {
  padding-right: 30px;
  text-align: right;
}

/*Navbar*/
.bg-custom {
  background-color: white;
}
.ulnavbar li {
  text-transform: uppercase;
  font-size: 1.1rem;
}
.image-navbar img {
  margin-top: 5px;
  height: 65px;
  width: 65px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.button-navbar {
  border: none;
}
.navbar-brand {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.logo-navbar {
  width: 50%;
}

/*Create travel*/
.create-travel-container {
  margin: 20px;
}

.create-travel-container h1 {
  color: #ff6525;
  font-weight: 600;
}

/*Login*/
.login-container {
  margin: 20px;
}
.login-container h1 {
  color: #ff6525;
  font-weight: 600;
}

.account {
  margin-top: 10px;
}
/*Signup*/
.signup-container {
  margin: 20px;
}
.signup-container h1 {
  color: #ff6525;
  font-weight: 600;
}

/*Edit profile*/

.edit-profile-container {
  margin: 20px;
}

.edit-profile-container h1 {
  color: #ff6525;
  font-weight: 600;
}

/*Edit travel*/
.edit-travel-container {
  margin: 20px;
}
.edit-travel-container h1 {
  color: #ff6525;
  font-weight: 600;
}

/*Travel details*/
.travel-details-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.card-details {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}

.card-title {
  color: #ff6525;
  font-size: 1.7rem;
  text-transform: uppercase;
  font-weight: 600;
}

.destination {
  font-weight: 600;
  font-size: 1.3rem;
}
.btn-members {
  display: flex;
  flex-wrap: wrap;
  border: none;
  width: 100%;
  background-color: white;
  color: white;
  align-items: center;
  justify-content: center;
}
.members img {
  margin: 5px;
  margin-top: 5px;
  height: 65px;
  width: 65px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.details-travel-icons {
  display: flex;
  align-items: space-around;
  justify-content: space-around;
}

.join-travel {
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*Travel*/

.travelList-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.img-card {
  height: 150px;
}
.card-img-top {
  object-fit: cover;
  max-height: 100%;
  width: 100%;
}
.card {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  overflow: hidden;
  transition: all 0.25s;
  margin: 20px;
}
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30vh;
  background: url("./images/womens.jpg") no-repeat center center / cover;
}

.searchTerm {
  width: 300px;
  height: 45px;
  border: 2px solid #ff6525;
  border-right: none;
  padding: 5px;
  outline: none;
  color: grey;
}

.searchTerm:focus {
  color: #ff6525;
}
.searchButton {
  width: 40px;
  height: 45px;
  border: 2px solid #ff6525;
  background: #ff6525;
  text-align: center;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
}
.container-form {
  border-radius: 8px;
  padding: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  background-color: white;
}

/*Travel invite*/

.invite-input h2 {
  color: black;
  font-size: 1.2rem;
}

.invitation-message {
  color: green;
}

.send-invitation-btn {
  margin-top: 10px;
}

.card {
  width: 18rem;
}
@media (min-width: 858px) {
  /*Navbar*/
  .ulnavbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
  }

  .ulnavbar li {
    margin: 10px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .ulnavbar li i {
    padding-top: 30px;
  }

  .logo-navbar {
    width: 55%;
  }
  .create-travel-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .signup-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .login-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .edit-profile-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /*travel-details*/
  .card {
    width: 70%;
    padding-bottom:20px;
  }

  .img-container {
    height: 150px;
  }

  .card-details-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
  }

  .card-details-info h5 {
    font-size: 2.5rem;
    margin: 0;
    padding: 0;
  }

  .destination {
    font-size: 1.5rem;
    margin: 0;
  }

  .info-travel {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .basic-info {
    width: 50%;
  }

  .profiles-info {
    width: 50%;
    height: 100%;
  }

  .btn-members {
    height: 100%;
    padding: 20px;
  }

  .members img {
    margin: 10px;
    height: 85px;
    width: 85px;
  }
  .details-travel-icons {
    width: 45%;
  }
  .details-travel-icons i {
    font-size: 2rem;
  }

  .buttons-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .invite-input {
    display: flex;
    flex-direction: column;
  }
  .buttons-details {
    display: flex;
    flex-direction: row;
  }
  .details-travel-icons {
    width: 100%;
  }
  .icons-edit {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .inviteinput {
    width: 45%;
  }
}
